.main {
    $fs: $base-px-desktop;
    $fs-mb: $base-px-mb;
    $fs-mb-lp: 28;

    width: 100%;
    font-size: vw($fs);
    overflow: hidden;

    @media (--viewport-mobile-pt) {
        font-size: vw-vh-contain($fs-mb, true);
    }

    .block-1 {
        background-color: $color-bg-light;
        padding: em(88, $fs) em(115, $fs) em(110, $fs) em(115, $fs);

        @media (--viewport-mobile-pt) {
            padding: em(86, $fs-mb) em(30, $fs-mb) em(62, $fs-mb) em(30, $fs-mb);
        }

        &__title {
            font-size: em(30, $fs);
            font-family: $font-accent;
            color: $color-text-accent;
            text-align: center;
            margin-top: em(68, 30);

            @media (--viewport-mobile-pt) {
                font-size: em(20, $fs);
                display: flex;
                flex-direction: column;
                gap: em(25, 20);
            }

            &:not(.entered) {
                transition-duration: 0.6s;
                opacity: 0;
                transform: translateY(em(-10, $fs));
            }
        }

        &__list {
            display: flex;
            justify-content: space-between;
            gap: em(40, $fs);

            @media (--viewport-mobile-pt) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: em(15, $fs-mb);
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: em(10, $fs);

            @media (--viewport-mobile-pt) {
                justify-content: flex-start;
                gap: em(7, $fs-mb);
            }
        }

        &__icon-wrap {
            display: flex;
            align-items: center;
            height: em(164, $fs);
        }

        &__icon {
            &--KeyIcon {
                width: em(211, $fs);
                height: em(77, $fs);

                &:not(.entered) {
                    transform: translateX(em(-20, $fs));
                }

                @media (--viewport-mobile-pt) {
                    width: em(139, $fs-mb);
                    height: em(50, $fs-mb);
                }
            }

            &--EyeIcon {
                width: em(135, $fs);
                height: em(119, $fs);

                &:not(.entered) {
                    transform: translateY(em(-20, $fs));
                }

                @media (--viewport-mobile-pt) {
                    width: em(102, $fs-mb);
                    height: em(90, $fs-mb);
                }
            }

            &--GridIcon {
                width: em(147, $fs);
                height: em(164, $fs);

                &:not(.entered) {
                    transform: translateY(em(20, $fs));
                }

                @media (--viewport-mobile-pt) {
                    width: em(87, $fs-mb);
                    height: em(97, $fs-mb);
                }
            }

            &--QuestionIcon {
                width: em(61, $fs);
                height: em(135, $fs);

                &:not(.entered) {
                    transform: translateX(em(20, $fs));
                }

                @media (--viewport-mobile-pt) {
                    width: em(40, $fs-mb);
                    height: em(89, $fs-mb);
                }
            }

            &:not(.entered) {
                transition-duration: 0.6s;
                opacity: 0;
            }
        }

        &__text {
            color: $color-text-dark;
            font-weight: $font-weight-accent;
            text-align: center;

            &:not(.entered) {
                transition-duration: 0.6s;
                opacity: 0;
                transform: translateY(em(-10, $fs));
            }
        }
    }

    .block-2 {
        position: relative;
        padding: em(70, $fs) em(115, $fs) em(70, $fs) em(115, $fs);
        overflow: hidden;

        @media (--viewport-mobile-pt) {
            padding: em(70, $fs-mb) em(30, $fs-mb) em(70, $fs-mb) em(30, $fs-mb);
        }

        &__list-wrap {
            display: flex;
            flex-direction: column;
            gap: em(27, $fs);

            @media (--viewport-mobile-pt) {
                gap: em(11, $fs-mb);
            }
        }

        &__list {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: em(30, $fs);

            @media (--viewport-mobile-pt) {
                flex-direction: column;
                gap: em(11, $fs-mb);
            }

            &--1 {
                .card-sign:nth-child(1),
                .card-sign:nth-child(2),
                .card-sign:nth-child(3) {
                    flex: 1 0 calc(33% - em(18, $fs));
                }
            }

            &--2 {
                .card-sign:first-child,
                .card-sign:last-child {
                    flex: 1 0 calc(24% - em(18, $fs));
                }

                .card-sign:nth-child(2) {
                    flex: 1 0 calc(49% - em(18, $fs));
                }
            }
        }

        &__title {
            font-size: em(35, $fs);
            font-family: $font-accent;
            color: $color-text;
            margin-bottom: em(36, 35);
            margin-left: em(7, 35);

            @media (--viewport-mobile-pt) {
                font-size: em(20, $fs-mb);
                line-height: 130%;
                text-align: center;
                margin: 0 0 em(27, 20) 0;
            }

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-20, $fs));
            }
        }
    }

    .block-3 {
        display: flex;
        justify-content: space-between;
        gap: em(93, $fs);
        background-color: $color-bg-light;
        padding: em(125, $fs) em(80, $fs) em(116, $fs) em(115, $fs);

        @media (--viewport-mobile-pt) {
            gap: em(50, $fs-mb);
            flex-direction: column-reverse;
            padding: em(90, $fs-mb) em(30, $fs-mb);
        }

        &__image {
            flex: 1 0 vw(507);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("@/assets/images/icons/WolfIcon.svg");

            @media (--viewport-mobile-pt) {
                flex: auto;
                height: em(323, $fs-mb);
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: em(30, $fs);

            @media (--viewport-mobile-pt) {
                gap: em(40, $fs-mb);
            }
        }

        &__title {
            font-size: em(35, $fs);
            font-family: $font-accent;
            line-height: 120%;
            color: $color-text-accent;
            text-align: left;
            margin-bottom: em(28, 35);

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-30, $fs));
            }

            @media (--viewport-mobile-pt) {
                font-size: em(20, $fs-mb);
                line-height: 130%;
                text-align: center;
                margin-bottom: em(20, 20);
            }
        }

        &__text {
            line-height: 120%;
            color: $color-text-dark;
            text-align: left;

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-30, $fs));
            }

            @media (--viewport-mobile-pt) {
                text-align: center;
            }
        }
    }

    .block-4 {
        padding: 0 em(115, $fs) em(106, $fs) em(115, $fs);
        overflow: hidden;

        @media (--viewport-mobile-pt) {
            padding: em(90, $fs) em(30, $fs) em(103, $fs) 0;
        }

        &__list {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 0;

            @media (--viewport-mobile-pt) {
                flex-direction: column;
                gap: em(19, $fs-mb);
                margin-bottom: em(45, $fs-mb);
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: em(118, $fs) em(50, $fs) em(101, $fs) em(40, $fs);
            border-radius: 0 0 em(20, $fs) em(20, $fs);
            position: relative;
            overflow: hidden;

            &:not(.entered) {
                transition-duration: 0.6s;
                transform: translateY(-100%);

                @media (--viewport-mobile-pt) {
                    transition-delay: 0s;
                    transform: translateX(-100%);
                }
            }

            &-title {
                font-size: em(35, $fs);
                font-family: $font-accent;
                margin-bottom: em(20, 35);

                @media (--viewport-mobile-pt) {
                    font-size: em(20, $fs-mb);
                    margin-bottom: em(20, 20);
                    text-align: center;
                }
            }

            &-text {
                @media (--viewport-mobile-pt) {
                    line-height: 120%;
                    text-align: center;
                }
            }

            &-image {
                position: absolute;
                z-index: -1;

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }
            }

            &-icon {
                width: 100%;
                height: 100%;
            }

            &--0 {
                background-color: $color-bg-light;
                min-width: em(382, $fs);
                min-height: em(453, $fs);
                transition-delay: 0.3s;

                .block-4__item-title {
                    color: $color-text-accent;
                }

                .block-4__item-text {
                    color: $color-text-dark;
                }

                .block-4__item-image {
                    width: em(111, $fs);
                    height: em(215, $fs);
                    bottom: em(92, $fs);
                    right: em(29, $fs);

                    @media (--viewport-mobile-pt) {
                        width: em(111, $fs-mb);
                        height: em(215, $fs-mb);
                        bottom: em(15, $fs-mb);
                        right: em(110, $fs-mb);
                    }
                }
            }

            &--1 {
                background-color: $color-text-accent;
                min-width: em(400, $fs);
                min-height: em(530, $fs);
                transition-delay: 0.5s;

                .block-4__item-image {
                    width: em(51, $fs);
                    height: em(233, $fs);
                    bottom: em(96, $fs);
                    right: em(65, $fs);

                    @media (--viewport-mobile-pt) {
                        width: em(32, $fs-mb);
                        height: em(143, $fs-mb);
                        bottom: em(86, $fs-mb);
                        right: em(41, $fs-mb);
                    }
                }
            }

            &--2 {
                background-color: $color-text-dark;
                min-width: em(387, $fs);
                min-height: em(630, $fs);
                transition-delay: 0.7s;

                .block-4__item-image {
                    width: em(202, $fs);
                    height: em(430, $fs);
                    bottom: em(100, $fs);
                    right: em(21, $fs);

                    @media (--viewport-mobile-pt) {
                        width: em(110, $fs-mb);
                        height: em(234, $fs-mb);
                        bottom: em(29, $fs-mb);
                        right: em(19, $fs-mb);
                        transform: rotate(-24deg);
                    }
                }
            }

            @media (--viewport-mobile-pt) {
                flex-direction: column;
                justify-content: center;
                padding: em(45, $fs) em(32, $fs) em(45, $fs);
                border-radius: 0 em(20, $fs-mb) em(20, $fs-mb) 0;
                min-height: em(244, $fs-mb);
                min-width: auto;
            }
        }

        &__title {
            font-size: em(35, $fs);
            font-family: $font-accent;
            color: $color-text-accent;
            line-height: 120%;
            margin-top: em(-15, 35);
            margin-bottom: em(35, 35);
            margin-left: em(15, 35);
            max-width: em(617, 35);

            @media (--viewport-mobile-pt) {
                font-size: em(20, $fs-mb);
                line-height: 130%;
                text-align: center;
                margin: 0 0 em(30, $fs-mb) 0;
                padding-left: em(30, $fs-mb);
            }

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-20, $fs));
            }
        }

        &__text {
            line-height: 120%;
            max-width: em(931, $fs);

            @media (--viewport-mobile-pt) {
                text-align: center;
                padding-left: em(30, $fs-mb);
            }

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-20, $fs));
            }
        }
    }

    .block-5 {
        &__wrap {
            background-color: $color-bg-light;
        }

        &__0 {
            display: flex;
            gap: em(90, $fs);
            padding: em(133, $fs) em(115, $fs) em(61, $fs) em(115, $fs);

            @media (--viewport-mobile-pt) {
                padding: em(72, $fs-mb) em(30, $fs-mb) em(50, $fs-mb) em(50, $fs-mb);
                gap: em(33, $fs-mb);
                flex-direction: column;
            }

            &-text {
                font-size: em(35, $fs);
                font-family: $font-accent;
                line-height: 120%;
                color: $color-text-dark;
                text-align: left;

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                @media (--viewport-mobile-pt) {
                    font-size: em(20, $fs-mb);
                    line-height: 130%;
                    text-align: center;
                }

                &--1 {
                    flex: 1;

                    @media (--viewport-mobile-pt) {
                        padding-left: em(7, 20);
                        padding-right: em(7, 20);
                    }
                }

                &--2 {
                    width: em(610, 35);
                    background-color: #fff;
                    padding: em(32, 35) em(72, 35);
                    border-radius: em(20, 35);

                    @media (--viewport-mobile-pt) {
                        width: 100%;
                        padding: em(36, 20) em(30, 20);
                        border-radius: em(20, 20);
                    }
                }
            }
        }

        &__1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: em(61, $fs);
            padding-bottom: em(108, $fs);
            overflow: hidden;
            position: relative;
            background-size: 103vw;
            background-position: top center;
            background-repeat: no-repeat;
            background-image: url("@/assets/images/icons/Circle.svg");

            @media (--viewport-mobile-pt) {
                background-image: none;
                padding-top: 0;
            }

            &-text {
                max-width: em(333, $fs);
                font-weight: $font-weight-bold;
                color: $color-text-dark;
                text-align: center;
                line-height: 120%;
                margin-bottom: em(56, $fs);
                z-index: 1;

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                @media (--viewport-mobile-pt) {
                    margin-bottom: em(48, $fs-mb);
                }
            }

            &-list {
                display: flex;
                color: $color-text-dark;

                &:last-child {
                    margin-top: em(-10, $fs);

                    @media (--viewport-mobile-pt) {
                        margin: 0;
                    }
                }

                @media (--viewport-mobile-pt) {
                    flex-direction: column;
                    margin: 0;
                }
            }

            &-item {
                width: em(396, $fs);
                height: em(140, $fs);
                margin-left: em(-35, $fs);
                margin-right: em(-35, $fs);
                position: relative;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("@/assets/images/icons/Ellipse.svg");

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                @media (--viewport-mobile-pt) {
                    margin: em(-10, $fs-mb) 0;
                    width: em(410, $fs-mb);
                    height: em(150, $fs-mb);

                    &:nth-child(2) {
                        width: em(420, $fs-mb);
                        height: em(170, $fs-mb);
                    }
                }

                &-text {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }
        }

        &__2 {
            background-color: white;
            padding-top: em(40, $fs);
            margin-top: -2px;

            &-title {
                font-family: $font-accent;
                line-height: 120%;
                color: $color-text-accent;
                text-align: left;
                font-size: em(35, $fs);
                padding: 0 em(100, 35) em(53, 35) em(100, 35);

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                @media (--viewport-mobile-pt) {
                    font-size: em(20, $fs-mb);
                    line-height: 130%;
                    text-align: center;
                    padding: 0 em(30, 20) em(46, 20) em(30, 20);
                }
            }

            &-list {
                display: flex;
                align-items: stretch;
                gap: em(30, $fs);
                padding-left: em(115, $fs);
                padding-right: em(115, $fs);
                padding-bottom: em(53, $fs);

                @media (--viewport-mobile-pt) {
                    flex-direction: column;
                    gap: em(13, $fs-mb);
                    padding-left: em(30, $fs-mb);
                    padding-right: em(30, $fs-mb);
                    padding-bottom: em(65, $fs-mb);
                }
            }

            &-item {
                display: flex;
                align-items: flex-start;
                flex: 1;
                gap: em(22, $fs);
                padding: em(33, $fs) em(40, $fs);
                border-radius: em(20, $fs);
                background-color: $color-bg-light;
                color: $color-text-dark;
                line-height: 120%;

                @media (--viewport-mobile-pt) {
                    flex-direction: column;
                    align-items: center;
                    gap: em(13, $fs-mb);
                }

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                &-icon {
                    width: em(64, $fs);
                    height: em(64, $fs);

                    @media (--viewport-mobile-pt) {
                        width: em(49, $fs-mb);
                        height: em(52, $fs-mb);
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: em(25, $fs);

                    @media (--viewport-mobile-pt) {
                        text-align: center;
                        gap: em(25, $fs-mb);
                    }
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: em(25, $fs);
                color: $color-text-dark;
                line-height: 120%;
                text-align: left;
                padding: 0 em(100, $fs) em(80, $fs) em(100, $fs);

                &:not(.entered) {
                    transition-duration: 0.4s;
                    opacity: 0;
                    transform: translateY(em(-30, $fs));
                }

                @media (--viewport-mobile-pt) {
                    gap: em(25, $fs-mb);
                    line-height: 130%;
                    text-align: center;
                    padding-left: em(30, $fs-mb);
                    padding-right: em(30, $fs-mb);
                    padding-bottom: em(81, $fs-mb);
                }
            }
        }
    }

    .block-6 {
        padding: em(70, $fs) em(115, $fs) em(94, $fs) em(115, $fs);

        @media (--viewport-mobile-pt) {
            padding: em(69, $fs-mb) em(30, $fs-mb) em(47, $fs-mb) em(30, $fs-mb);
        }

        &__title {
            font-size: em(35, $fs);
            font-family: $font-accent;
            margin-bottom: em(36, 35);
            margin-left: em(7, 35);

            @media (--viewport-mobile-pt) {
                font-size: em(20, $fs-mb);
                line-height: 130%;
                text-align: center;
                margin: 0 0 em(58, 20) 0;
            }

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-20, $fs));
            }
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: em(30, $fs);
            row-gap: em(23, $fs);

            @media (--viewport-mobile-pt) {
                display: flex;
                flex-direction: column;
                gap: em(13, $fs-mb);
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: em(25, $fs);
            padding: em(25, $fs) em(50, $fs) em(25, $fs) em(50, $fs);
            height: em(228, $fs);
            background-color: #243467;
            border-radius: em(15, $fs);
            text-align: center;

            @media (--viewport-mobile-pt) {
                gap: em(22, $fs-mb);
                padding: em(36, $fs-mb) em(15, $fs-mb) em(45, $fs-mb) em(15, $fs-mb);
                height: auto;
            }

            &:not(.entered) {
                transition-duration: 0.4s;
                opacity: 0;
                transform: translateY(em(-20, $fs));
            }

            &-text {
                font-weight: $font-weight-accent;

                @media (--viewport-mobile-pt) {
                    line-height: 120%;
                }
            }

            &-button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: em(258, $fs);
                height: em(51, $fs);
                margin: 0 auto;
                border-radius: em(100, $fs);
                border: white solid 1px;

                @media (--viewport-mobile-pt) {
                    width: calc(100% - em(40, $fs-mb));
                }
            }
        }
    }
}
