.card-sign {
    $fs: $base-px-desktop;
    $fs-mb: $base-px-mb;

    font-size: vw-vh-contain($fs);
    display: grid;
    grid-template:
        "title title title" auto
        "list  list  icon"  auto
        "list  list  icon"  auto
        / 1fr 1fr em(121, $fs);
    width: 100%;
    height: em(228, $fs);
    padding: em(20, $fs) em(25, $fs);
    border-radius: em(15, $fs);
    position: relative;
    background-color: #243467;

    @media (--viewport-mobile-pt) {
        font-size: vw-vh-contain($fs-mb, true);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: em(40, $fs) em(16, $fs-mb);
    }

    &:not(.entered) {
        transition-duration: 0.4s;
        opacity: 0;
        transform: translateY(em(-20, $fs));
    }

    &__title {
        grid-area: title;
        font-weight: $font-weight-bold;

        @media (--viewport-mobile-pt) {
            order: 1;
            text-align: center;
        }
    }

    &__list {
        grid-area: list;
        margin-top: em(18, $fs);

        @media (--viewport-mobile-pt) {
            order: 2;
            display: flex;
            flex-direction: column;
            gap: em(5, $fs-mb);
            align-items: center;
        }
    }

    &__item {
        font-size: em(14, $fs);
        list-style: disc;
        margin-left: em(22, 14);

        @media (--viewport-mobile-pt) {
            list-style: none;
            margin: 0;
            text-align: center;
        }
    }

    &__icon {
        font-size: 1em;
        grid-area: icon;

        @media (--viewport-mobile-pt) {
            margin-bottom: em(22, $fs-mb);
        }

        &:not(.entered) {
            transition-duration: 0.4s;
            opacity: 0;
        }

        &--MessageIcon {
            width: em(101, $fs);
            height: em(101, $fs);

            @media (--viewport-mobile-pt) {
                width: em(86, $fs-mb);
                height: em(86, $fs-mb);
            }

            &:not(.entered) {
                transform: translateX(em(-20, $fs));
            }
        }

        &--CardReaderIcon {
            width: em(115, $fs);
            height: em(115, $fs);

            @media (--viewport-mobile-pt) {
                width: em(92, $fs-mb);
                height: em(92, $fs-mb);
            }

            &:not(.entered) {
                transform: translateY(em(20, $fs));
            }
        }

        &--LoupeIcon {
            width: em(99, $fs);
            height: em(118, $fs);

            @media (--viewport-mobile-pt) {
                width: em(86, $fs-mb);
                height: em(102, $fs-mb);
            }

            &:not(.entered) {
                transform: translateX(em(-20, $fs));
            }
        }

        &--StressIcon {
            width: em(122, $fs);
            height: em(119, $fs);

            @media (--viewport-mobile-pt) {
                width: em(106, $fs-mb);
                height: em(103, $fs-mb);
            }

            &:not(.entered) {
                transition-duration: 0.6s;
                transform: translateY(em(20, $fs));
            }
        }

        &--CoinsIcon {
            width: em(131, $fs);
            height: em(131, $fs);

            @media (--viewport-mobile-pt) {
                width: em(102, $fs-mb);
                height: em(102, $fs-mb);
            }

            &:not(.entered) {
                transition-duration: 0.6s;
                transform: translateX(em(-20, $fs));
            }
        }

        &--LetterIcon {
            width: em(117, $fs);
            height: em(117, $fs);

            @media (--viewport-mobile-pt) {
                width: em(90, $fs-mb);
                height: em(90, $fs-mb);
            }

            &:not(.entered) {
                transition-duration: 0.6s;
                transform: translateX(em(20, $fs));
            }
        }
    }
}
