.scammers-bg {
    $fs: $base-px-desktop;
    $fs-mb: $base-px-mb;

    font-size: vw-vh-cover($fs);
    width: em(1343, $fs);
    height: em(1102, $fs);
    position: absolute;
    top: em(30, $fs);
    right: em(-288, $fs);

    @media (--viewport-mobile-pt) {
        font-size: vw-vh-contain($fs-mb, true);
        width: em(698, $fs-mb);
        height: em(573, $fs-mb);
        top: auto;
        bottom: -1px;
        right: em(-173, $fs-mb);
    }

    &__anim,
    &__element {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__element {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("@/assets/images/icons/header/scammer.svg");
    }
}
