@font-face {
    font-family: ZametkaParletter;
    src:
        url("assets/fonts/ZametkaParletter-Regular.woff2") format("woff2"),
        url("assets/fonts/ZametkaParletter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src:
        url("assets/fonts/Lora-Regular.woff2") format("woff2"),
        url("assets/fonts/Lora-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora-Bold;
    src:
        url("assets/fonts/Lora-SemiBold.woff2") format("woff2"),
        url("assets/fonts/Lora-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
