.preloader.hide#preloader
    .preloader__icon
        svg(width='101' height='129' viewbox='0 0 101 129' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M55.6366 128.13C55.6366 122.476 54.694 103.635 40.549 86.675C25.4612 68.7756 5.65784 64.0639 0 63.1241C5.65784 61.2394 24.5178 56.5277 37.7197 37.686C49.0356 21.6687 49.979 6.59638 49.979 0C51.8649 7.53619 57.5225 23.5534 70.7244 37.686C82.0401 49.9339 94.2991 55.5854 100.9 58.4124C94.2991 60.2971 81.0972 66.8909 70.7244 80.0811C55.6366 100.808 55.6366 122.476 55.6366 128.13Z' fill='white')
