@use "sass:math";
@import "./vw.scss";
@import "./vh.scss";

// Usually helpful for large titles' font size
// to obtain balance and avoid tightness when height is small while width is large

// $aspect - controls vw and vh influence

// Returns calc string

@function vw-vh-combine($px, $mobile: false, $aspect: 1 1) {
    // The influence of vw and vh are equal (1:1)
    $vw: vw($px, $mobile);
    $vh: vh($px, $mobile);
    $aspect-sum: list.nth($aspect, 1) + list.nth($aspect, 2);
    $w-ratio: math.div(list.nth($aspect, 1), $aspect-sum);
    $h-ratio: math.div(list.nth($aspect, 2), $aspect-sum);

    @return calc(#{$vw * $w-ratio} + #{$vh * $h-ratio});
}
